GroupOneProject/Client/Service References/GetMark_Service/GetMark_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfList_Stu_Class">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="List_Stu_Class" nillable="true" type="tns:List_Stu_Class" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfList_Stu_Class" nillable="true" type="tns:ArrayOfList_Stu_Class" />
  <xs:complexType name="List_Stu_Class">
    <xs:sequence>
      <xs:element minOccurs="0" name="DTB_h10" type="xs:float" />
      <xs:element minOccurs="0" name="DTB_h4" type="xs:float" />
      <xs:element minOccurs="0" name="DTB_hchu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiemKT" type="xs:float" />
      <xs:element minOccurs="0" name="DiemThi" type="xs:float" />
      <xs:element minOccurs="0" name="Hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Loai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mssv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tinhtrang" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="List_Stu_Class" nillable="true" type="tns:List_Stu_Class" />
  <xs:complexType name="Statistic_Mark">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avg_mark" type="xs:float" />
      <xs:element minOccurs="0" name="Distance_5_8" type="xs:int" />
      <xs:element minOccurs="0" name="Distance_8_10" type="xs:int" />
      <xs:element minOccurs="0" name="Less_than_5" type="xs:int" />
      <xs:element minOccurs="0" name="Max_mark" type="xs:float" />
      <xs:element minOccurs="0" name="Min_mark" type="xs:float" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistic_Mark" nillable="true" type="tns:Statistic_Mark" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dantoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dienthoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gioitinh" type="xs:int" />
      <xs:element minOccurs="0" name="HeDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hotencha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hotenme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Khoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Khoahoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mssv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nganh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngaysinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nghenghiepcha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nghenghiepme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Noisinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quoctich" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongTC" type="xs:int" />
      <xs:element minOccurs="0" name="Tongiao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember" nillable="true" type="tns:ArrayOfMember" />
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Class" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
  <xs:complexType name="InfoFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoFault" nillable="true" type="tns:InfoFault" />
  <xs:complexType name="ArrayOfSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubject" nillable="true" type="tns:ArrayOfSubject" />
  <xs:complexType name="Subject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code_sub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name_sub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Semester" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoTC" type="xs:int" />
      <xs:element minOccurs="0" name="Sotiet" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subject" nillable="true" type="tns:Subject" />
  <xs:complexType name="ArrayOfInfoFault">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoFault" nillable="true" type="tns:InfoFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoFault" nillable="true" type="tns:ArrayOfInfoFault" />
  <xs:complexType name="ArrayOfFeedback">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Feedback" nillable="true" type="tns:Feedback" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedback" nillable="true" type="tns:ArrayOfFeedback" />
  <xs:complexType name="Feedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="Noidung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thoigian" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tieude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Traloi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trangthai" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feedback" nillable="true" type="tns:Feedback" />
  <xs:complexType name="ArrayOfMark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mark" nillable="true" type="tns:Mark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMark" nillable="true" type="tns:ArrayOfMark" />
  <xs:complexType name="Mark">
    <xs:sequence>
      <xs:element minOccurs="0" name="DTB_h10" type="xs:float" />
      <xs:element minOccurs="0" name="DTB_h4" type="xs:float" />
      <xs:element minOccurs="0" name="DTB_hchu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiemKT" type="xs:float" />
      <xs:element minOccurs="0" name="DiemThi" type="xs:float" />
      <xs:element minOccurs="0" name="Giangvien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hocky" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Loai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaMH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoTC" type="xs:int" />
      <xs:element minOccurs="0" name="SoTiet" type="xs:int" />
      <xs:element minOccurs="0" name="TenMH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tinhtrang" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mark" nillable="true" type="tns:Mark" />
  <xs:complexType name="Student_Semester">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hocky" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mssv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBHK" type="xs:float" />
      <xs:element minOccurs="0" name="TC_dat_HK" type="xs:int" />
      <xs:element minOccurs="0" name="TC_dk_HK" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student_Semester" nillable="true" type="tns:Student_Semester" />
  <xs:complexType name="ArrayOfStudent_Semester">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student_Semester" nillable="true" type="tns:Student_Semester" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent_Semester" nillable="true" type="tns:ArrayOfStudent_Semester" />
  <xs:complexType name="Statistic_Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="TB_tichluy" type="xs:float" />
      <xs:element minOccurs="0" name="TongMH" type="xs:int" />
      <xs:element minOccurs="0" name="TongMH_no" type="xs:int" />
      <xs:element minOccurs="0" name="TongTC_dat" type="xs:int" />
      <xs:element minOccurs="0" name="TongTC_dk" type="xs:int" />
      <xs:element minOccurs="0" name="Tong_gioi" type="xs:int" />
      <xs:element minOccurs="0" name="Tong_kem" type="xs:int" />
      <xs:element minOccurs="0" name="Tong_kha" type="xs:int" />
      <xs:element minOccurs="0" name="Tong_trungbinh" type="xs:int" />
      <xs:element minOccurs="0" name="Tong_xuatsac" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistic_Student" nillable="true" type="tns:Statistic_Student" />
  <xs:complexType name="Lecturer">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Lecturer" nillable="true" type="tns:Lecturer" />
</xs:schema>