GroupOneProject/Client/Service References/GetMark_Service/GetMark_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember" nillable="true" type="tns:ArrayOfMember" />
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Class" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
  <xs:complexType name="SinhVien">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dantoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dienthoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gioitinh" type="xs:int" />
      <xs:element minOccurs="0" name="HeDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hotencha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hotenme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Khoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Khoahoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mssv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nganh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngaysinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nghenghiepcha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nghenghiepme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Noisinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quoctich" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongTC" type="xs:int" />
      <xs:element minOccurs="0" name="Tongiao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SinhVien" nillable="true" type="tns:SinhVien" />
  <xs:complexType name="ArrayOfKetQua">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KetQua" nillable="true" type="tns:KetQua" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKetQua" nillable="true" type="tns:ArrayOfKetQua" />
  <xs:complexType name="KetQua">
    <xs:sequence>
      <xs:element minOccurs="0" name="DTB_h10" type="xs:float" />
      <xs:element minOccurs="0" name="DTB_h4" type="xs:float" />
      <xs:element minOccurs="0" name="DTB_hchu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiemKT" type="xs:float" />
      <xs:element minOccurs="0" name="DiemThi" type="xs:float" />
      <xs:element minOccurs="0" name="Loai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaMH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoTC" type="xs:int" />
      <xs:element minOccurs="0" name="SoTiet" type="xs:int" />
      <xs:element minOccurs="0" name="TenMH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tinhtrang" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KetQua" nillable="true" type="tns:KetQua" />
  <xs:complexType name="SV_HK">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hocky" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mssv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBHK" type="xs:float" />
      <xs:element minOccurs="0" name="TC_dat_HK" type="xs:int" />
      <xs:element minOccurs="0" name="TC_dk_HK" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SV_HK" nillable="true" type="tns:SV_HK" />
  <xs:complexType name="Statistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="TB_tichluy" type="xs:float" />
      <xs:element minOccurs="0" name="TongMH" type="xs:int" />
      <xs:element minOccurs="0" name="TongMH_no" type="xs:int" />
      <xs:element minOccurs="0" name="TongTC_dat" type="xs:int" />
      <xs:element minOccurs="0" name="TongTC_dk" type="xs:int" />
      <xs:element minOccurs="0" name="Tong_gioi" type="xs:int" />
      <xs:element minOccurs="0" name="Tong_kem" type="xs:int" />
      <xs:element minOccurs="0" name="Tong_kha" type="xs:int" />
      <xs:element minOccurs="0" name="Tong_trungbinh" type="xs:int" />
      <xs:element minOccurs="0" name="Tong_xuatsac" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistic" nillable="true" type="tns:Statistic" />
</xs:schema>