SourceCode/GroupOneProject/Client/Service References/GetMark_Service/GetMark_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2000/GetMark_Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" />
  <xs:import schemaLocation="http://localhost:2000/GetMark_Service?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="List_Class">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List_ClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="List_ClassResult" nillable="true" type="q1:ArrayOfList_Stu_Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Min_Mark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Min_MarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Min_MarkResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Max_Mark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Max_MarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Max_MarkResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Avg_Mark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Avg_MarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Avg_MarkResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Class_Stu_Total">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Class_Stu_TotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Class_Stu_TotalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Mark_Equal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mark" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Mark_EqualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Statistic_Mark_EqualResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Mark_Distance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:float" />
        <xs:element minOccurs="0" name="to" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Mark_DistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Statistic_Mark_DistanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Mark_Less">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mark" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Mark_LessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Statistic_Mark_LessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Mark_Greater">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mark" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Mark_GreaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Statistic_Mark_GreaterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Mark_General">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Mark_GeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Statistic_Mark_GeneralResult" nillable="true" type="q2:Statistic_Mark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Student_Min_Mark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Student_Min_MarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Get_Student_Min_MarkResult" nillable="true" type="q3:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Student_Max_Mark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Student_Max_MarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Get_Student_Max_MarkResult" nillable="true" type="q4:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Student_Min_Avg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Student_Min_AvgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Get_Student_Min_AvgResult" nillable="true" type="q5:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Student_Max_Avg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Student_Max_AvgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Get_Student_Max_AvgResult" nillable="true" type="q6:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Max_Avg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Max_AvgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Max_AvgResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Min_Avg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Min_AvgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Min_AvgResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Avg_Avg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Avg_AvgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Avg_AvgResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Avg_Equal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mark" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Avg_EqualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Statistic_Avg_EqualResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Avg_Distance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:float" />
        <xs:element minOccurs="0" name="to" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Avg_DistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Statistic_Avg_DistanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Avg_Less">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mark" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Avg_LessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Statistic_Avg_LessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Avg_Greater">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mark" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistic_Avg_GreaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Statistic_Avg_GreaterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="GetAuthorsResult" nillable="true" type="q7:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetResourcesListResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadResourceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="old_password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="new_password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List_Semester">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="List_SemesterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="List_SemesterResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List_Subject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="List_SubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="List_SubjectResult" nillable="true" type="q10:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Subject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_SubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Search_SubjectResult" nillable="true" type="q11:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Info_Stu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Info_StuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Get_Info_StuResult" nillable="true" type="q12:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Info_Stu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Stu" nillable="true" type="q13:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Info_StuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_Info_StuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send_Feedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_Feedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_FeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Load_FeedbackResult" nillable="true" type="q14:ArrayOfFeedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mark_Subject_Single">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code_subject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mark_Subject_SingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Mark_Subject_SingleResult" nillable="true" type="q15:ArrayOfMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mark_Subject_All">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mark_Subject_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Mark_Subject_AllResult" nillable="true" type="q16:ArrayOfMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Mark_Semester">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Mark_SemesterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Get_Mark_SemesterResult" nillable="true" type="q17:ArrayOfMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_Stu_Sem_Only">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_Stu_Sem_OnlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Info_Stu_Sem_OnlyResult" nillable="true" type="q18:Student_Semester" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_Stu_Sem_All">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_Stu_Sem_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Info_Stu_Sem_AllResult" nillable="true" type="q19:ArrayOfStudent_Semester" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Avg_Semester">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Avg_SemesterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Avg_SemesterResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Avg_Cumulative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Avg_CumulativeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Avg_CumulativeResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_Statistic_Stu_General">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_student" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info_Statistic_Stu_GeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Info_Statistic_Stu_GeneralResult" nillable="true" type="q20:Statistic_Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Info_Lec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Info_LecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Get_Info_LecResult" nillable="true" type="q21:Lecturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Info_Lec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="lec" nillable="true" type="q22:Lecturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Info_LecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_Info_LecResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lec_Sub_All">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lec_Sub_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Lec_Sub_AllResult" nillable="true" type="q23:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lec_Sub_Single">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code_lecturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="semester" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lec_Sub_SingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="Lec_Sub_SingleResult" nillable="true" type="q24:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>